#project-descr {}
.project-header1 {
	background-color: #2886c4;
	color: #fff;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	line-height: 22px;
	padding: 18px 0;
	margin-bottom: 20px;
}
.folded {
	position: relative;
}
.folded:before,
.folded:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	bottom: 0;
	right: 0;
}
.folded:before {
	border-width: 16px 16px 0 0;
	border-color: rgba(0,0,0,0.2) transparent transparent transparent;
}
.folded:after {
	border-width: 0 0 16px 16px;
	border-color: transparent transparent #ffffff transparent;
}
.project__details {
	padding-bottom: 6px;
}
.project__details-left {
	float: left;
	width: 405px;
	margin-right: 20px;
}
.project__details-b1 {
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.04);
}
.project__details-b1-header {
	background-color: #3e78b0;
	color: #fff;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	line-height: 24px;
	padding: 13px 20px;
}
.project__details-b1-header .icon-arrow-diagonally {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #fff;
	margin-right: 15px;
	vertical-align: middle;
}
.project__details-b1-row {
	border-left: 3px solid #3e78b0;
	border-right: 3px solid #3e78b0;
	border-bottom: 3px solid #3e78b0;
	display: table;
	width: 100%;
	box-sizing: border-box;
}
.project__details-b1-text {
	font-size: 14px;
	line-height: 20px;
	color: #5d5d5d;
	padding: 19px;
	display: table-cell;
}
.project__details-b1-count {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #2c2f36;
	font-size: 24px;
	font-weight: bold;
	border-left: 3px solid #3e78b0;
	padding: 0 19px;
	width: 41px;
}
.project__details-right {
	width: 320px;
	float: left;
}
.project__details-date {
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	margin-bottom: 20px;
}
.project__details-date-inner {
	padding: 17px 24px;
	border: 1px solid #fcfcfc;
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #f4f4f4 100%);
	background: -webkit-linear-gradient(top,  #ededed 0%,#f4f4f4 100%);
	background: linear-gradient(to bottom,  #ededed 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f4f4f4',GradientType=0 );
}
.project__details-date-icon {
	float: left;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #2886c4;
	margin-right: 22px;
	margin-top: 4px;
}
.project__details-date-text {
	float: left;
	line-height: 1;
}
.project__details-date-title {
	color: #5e5e5e;
	font-size: 14px;
	margin-bottom: 6px;
}
.project__details-date-value {
	color: #2c2f36;
	font-size: 17px;
	font-weight: bold;
}
.project__details-status {
	background-color: #4cc87b;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 13px 25px 15px 0;
}
.project__details-status-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: #fff;
	vertical-align: middle;
	position: relative;
	right: 31px;
}
.project__details-status-label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 2px;
}
.project__descr {
	color: #5d5d5d;
	margin: 20px 0;
}
.project-header2 {
	border-bottom: 1px solid #d0d0d0;
	margin: 38px 0 20px;
	font-size: 1px;
	padding: 0 0 10px 1px;
}
.project-header2__icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #2886c4;
	margin-right: 15px;
	vertical-align: top;
}
.project-header2__text {
	display: inline-block;
	color: #2c2f36;
	font-size: 17px;
	line-height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 2px;
	width: 705px;
}
.project-targets {
	margin-bottom: -18px;
}
.project-targets__title {
	color: #2c2f36;
	line-height: 20px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
.project-targets__box {
	display: table;
	width: 100%;
	height: 100%;
	padding-top: 8px;
	margin-top: 2px;
	overflow: hidden;
}
.project-targets__boxleft {
	width: 350px;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.project-targets__boxcenter {
	display: table-cell;
	width: 30px;
	padding: 0 8px 0 7px;
	text-align: center;
	vertical-align: middle;
	height: 100%;
}
.project-targets__boxright {
	width: 350px;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.project-targets__box-targetsline {
	display: inline-block;
	width: 2px;
	height: 100%;
	background-color: #2886c4;
	position: relative;
}
.project-targets__topcircle {
	display: inline-block;
	color: #2886c4;
	width: 10px;
	height: 10px;
	font-size: 10px;
	position: absolute;
	top: -5px;
	left: -4px;
}
.project-targets__target-container {
	position: relative;
	margin-bottom: 20px;
}
.project-targets__target {
	width: 330px;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	position: relative;
}
.project-targets__target-container:first-child {
	margin-top: 36px;
}
.project-targets__target-container:last-child:after {
	content: "";
	display: block;
	background-color: #fff;
	height: 100%;
	width: 4px;
	position: absolute;
	z-index: 40;
	top: 50%;
}
.project-targets__target-container:last-child:nth-child(even):after {
	left: -24px;
}
.project-targets__target-container:last-child:nth-child(odd):after {
	right: -24px;
}
.project-targets__target-inner {
	padding: 18px 23px;
	border: 1px solid #fcfcfc;
	background: #f6f6f6;
	color: #5d5d5d;
	font-size: 14px;
	line-height: 20px;
}
.project-targets__target:after,
.project-targets__target:before,
.project-targets__target-arrow {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	top: 50%;
}
.project-targets__target:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 20px;
	margin-top: -20px;
}
.project-targets__target:before {
	border-color: rgba(215, 215, 215, 0);
	border-left-color: #d7d7d7;
	border-width: 21px;
	margin-top: -21px;
}
.project-targets__target-arrow {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #f6f6f6;
	border-width: 19px;
	margin-top: -19px;
	z-index: 50;
	left: auto;
	right: -37px;
}
.project-targets__target-arrow:before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../img/circle-target.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: -15px;
}
.project-targets__target-container:nth-child(odd) .project-targets__target-arrow:before {
	left: 8px;
}
.project-targets__target-container:nth-child(even) .project-targets__target {
	left: 18px;
}
.project-targets__target-container:nth-child(even) .project-targets__target .project-targets__target-arrow:before {
	left: auto;
	right: 9px;
}
.project-targets__target-container:nth-child(even) .project-targets__target:after,
.project-targets__target-container:nth-child(even) .project-targets__target:before,
.project-targets__target-container:nth-child(even) .project-targets__target .project-targets__target-arrow {
	left: auto;
	right: 100%;
}
.project-targets__target-container:nth-child(even) {
	left: 395px;
}
.project-targets__target-container:nth-child(even) .project-targets__target:after {
	border-left-color: transparent;
	border-right-color: #fff;
}
.project-targets__target-container:nth-child(even) .project-targets__target:before {
	border-left-color: transparent;
	border-right-color: #d7d7d7;
}
.project-targets__target-container:nth-child(even) .project-targets__target .project-targets__target-arrow {
	border-left-color: transparent;
	border-right-color: #f6f6f6;
	right: auto;
	left: -37px;
}
.project-plan {}
.project-plan__table {
	width: 100%;
}
.project-plan__tbody {}
.project-plan__tr {
	border-bottom: 1px dotted #d0d0d0;
}
.project-plan__tr:first-child,
.project-plan__tr:last-child {
	border-bottom: none;
}
.project-plan__th {
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	text-align: center;
}
.project-plan__th.th_1 {
	color: #2886c4;
}
.project-plan__th.th_2 {
	color: #2072a8;
}
.project-plan__th.th_3 {
	color: #246087;
}
.project-plan__td {
	padding-top: 20px;
	padding-bottom: 14px;
	vertical-align: top;
}
.project-plan__td.td_1 {
	width: 75px;
	text-align: left;
}
.project-plan__td.td_2 {
	width: 415px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
}
.project-plan__td.td_3 {
	width: 65px;
	text-align: center;
}
.project-plan__td.td_4 {
	width: 65px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.project-plan__td.td_5 {
	width: 65px;
	text-align: center;
}
.project-plan__td_1-wrap {
	height: 40px;
	overflow: hidden;
}
.project-plan__td_1 {
	display: inline-block;
	width: 42px;
	height: 36px;
	border: 2px solid #d0d0d0;
	border-right: none;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 17px;
	line-height: 36px;
	font-weight: bold;
	color: #2c2f36;
	position: relative;
}
.project-plan__td_1:after,
.project-plan__td_1:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.project-plan__td_1:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 18px 0 18px 9px;
	margin-top: -18px;
}
.project-plan__td_1:before {
	border-color: rgba(208, 208, 208, 0);
	border-left-color: #d0d0d0;
	border-width: 21px 0 21px 11px;
	margin-top: -21px;
}
.project-plan__td_2 {
	color: #5d5d5d;
	font-size: 14px;
	line-height: 20px;
}
.project-plan__td_345 {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.project-plan__td_3 {
	background-color: #4fa5dd;
}
.project-plan__td_4 {
	background-color: #2886c4;
}
.project-plan__td_5 {
	background-color: #286f9d;
}
.project-publications {
	display: table;
	padding: 20px 0 21px;
}
.project-publications__vertical {
	border-right: 1px solid #d0d0d0;
	position: relative;
	display: table-cell;
	width: 44px;
	height: 300px;
	text-align: center;
}
.project-publications__vertical:before {
	content: "";
	display: block;
	background-color: #fff;
	height: 50px;
	width: 45px;
	position: absolute;
	z-index: 100;
}
.project-publications__vertical-text {
	color: #2c2f36;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	display: inline-block;
	position: absolute;
	width: 360px;
	height: 44px;
	line-height: 44px;
	top: 50%;
	margin-top: -22px;
	left: 50%;
	margin-left: -180px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.project-publications__block {
	display: table-cell;
	padding-left: 20px;
	width: 680px;
}
.project-publications__title {
	text-align: center;
	margin-bottom: 20px;
}
.project-publications__title-text {
	display: inline-block;
	background-color: #ececec;
	color: #5e5e5e;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	padding: 0 13px;
}
.project-publications__item {
	margin-bottom: 35px;
}
.project-publications__item:last-child {
	margin-bottom: 0;
}
.project-publications__item-numb {
	float: left;
	width: 75px;
	height: 40px;
	background-color: #2886c4;
	text-align: center;
	font-size: 17px;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
	position: relative;
	margin-right: 11px;
}
.project-publications__item-numb:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(208, 208, 208, 0);
	border-left-color: #2886c4;
	border-width: 20px 0 20px 11px;
	margin-top: -20px;
}
.project-publications__item-text {
	float: left;
	width: 574px;
	margin-left: 20px;
}
.project-publications__item-text1 {
	color: #2c2f36;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}
.project-publications__item-text2 {
	color: #5e5e5e;
	font-size: 14px;
	font-size: italic;
}
.project-publications__year {}
.project-publications__year:after {
	display: block;
	content: "";
	background-image: url(../img/hr-sep.png);
	background-repeat: repeat-x;
	height: 10px;
	width: 100%;
	margin: 35px 0 20px;
}
.project-publications__year:last-child:after {
	content: "";
	display: none;
}
.project-photos {}
.project-photos__row {
	margin-bottom: 15px;
}
.project-photos__img {
	float: left;
	width: 365px;
	height: 243px;
	margin-right: 15px;
}
.project-photos__img:last-child {
	margin-right: 0;
}
.project-lists {
	margin-bottom: 8px;
}
.project-lists__row {}
.project-lists__item {
	float: left;
	width: 365px;
	margin-right: 15px;
}
.project-lists__item:last-child {
	margin-right: 0;
}
.project-lists__item-title {
	display: table;
	width: 100%;
	background-color: #ececec;
	color: #2c2f36;
	font-size: 16px;
	line-height: 19px;
	min-height: 50px;
	font-weight: bold;
	padding: 14px 19px 11px;
	box-sizing: border-box;
}
.project-lists__item-title-inner {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.project-lists__item-text {
	margin: 25px 0;
	padding-left: 10px;
}
.project-lists__item-list {
	padding: 0 0 0 30px;
	margin: 25px 0 32px;
	list-style: none;
}
.project-lists__item-list-li {
	color: #5d5d5d;
	font-size: 14px;
	display: block;
	position: relative;
	margin-bottom: 14px;
}
.project-lists__item-list-li:last-child {
	margin-bottom: 0;
}
.project-lists__item-list-li:before {
	content: "\e90f";
	display: block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	color: #2886c4;
	font-size: 10px;
	width: 12px;
	height: 12px;
	left: -20px;
	top: 5px;
}
.project-lists__item-list_intext {
	margin: 15px 0;
}
.project-lists__item-list_intext .project-lists__item-list-li {
	margin-bottom: 10px;
}
.project-reports {}
.project-reports__year {
	margin-top: 20px;
	text-align: center;
}
.project-reports__year:first-child {
	margin-top: 0;
}
.project-reports__year-numb {
	display: inline-block;
	background-color: #2886c4;
	padding: 0 14px;
	line-height: 30px;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
}
.project-reports__year-title {
	margin-top: 25px;
	text-align: left;
	color: #2c2f36;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}
.project-reports__list {
	text-align: left;
}
.project-reports__list:after {
	display: block;
	content: "";
	background-image: url(../img/hr-sep.png);
	background-repeat: repeat-x;
	height: 10px;
	width: 100%;
	margin: 11px 0 0;
}
.project-reports__list-row {
	display: inline-block;
	width: 100%;
	border-bottom: 1px dotted #d0d0d0;
	padding: 25px 0 27px;
	font-size: 1px;
}
.project-reports__list-row:last-child {
	border-bottom: none;
}
.project-reports__list-count {
	display: inline-block;
	height: 40px;
	overflow: hidden;
	margin-right: 30px;
	padding-right: 11px;
	vertical-align: middle;
}
.project-reports__list-countinner {
	display: inline-block;
	width: 42px;
	height: 36px;
	border: 2px solid #2886c4;
	border-right: none;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 17px;
	line-height: 36px;
	font-weight: bold;
	color: #2c2f36;
	position: relative;
}
.project-reports__list-countinner:before,
.project-reports__list-countinner:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.project-reports__list-countinner:before {
	border-color: rgba(208, 208, 208, 0);
	border-left-color: #2886c4;
	border-width: 21px 0 21px 11px;
	margin-top: -21px;
}
.project-reports__list-countinner:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 18px 0 18px 9px;
	margin-top: -18px;
}
.project-reports__list-content {
	width: 660px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
}
.project-reports__list-content1 {
	color: #2c2f36;
	font-weight: bold;
}
.project-reports__list-content2 {
	color: #5d5d5d;
	font-style: italic;
}
.project-reports__list-content3 {
	margin-top: 5px;
}
.project-certs {
	padding: 20px 0 0 0;
}
.project-certs__item {
	display: table;
	width: 100%;
	border: 3px solid #d0d0d0;
	padding: 2px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	font-size: 1px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.project-certs__item-text {
	display: table-cell;
	width: 515px;
	padding: 30px 34px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #2c2f36;
	vertical-align: middle;
}
.project-certs__item-price {
	display: table-cell;
	width: 230px;
	background-color: #4cc87b;
	color: #fff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.project-certs__price-num {
	font-size: 36px;
	line-height: 1;
	margin-bottom: 1px;
}
.project-certs__price-post {
	font-size: 18px;
	line-height: 1;
}
.project-site {
	padding: 40px 0 12px;
	text-align: center;
}
.project-site__lnk {
	display: inline-block;
	background-color: #2b8ac9;
	padding: 0 39px;
	line-height: 60px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px -4px 0px 0px rgba(33, 112, 164, 1), 0px 2px 3px 0px rgba(7, 80, 127, 0.35);
	-moz-box-shadow:    inset 0px -4px 0px 0px rgba(33, 112, 164, 1), 0px 2px 3px 0px rgba(7, 80, 127, 0.35);
	box-shadow:         inset 0px -4px 0px 0px rgba(33, 112, 164, 1), 0px 2px 3px 0px rgba(7, 80, 127, 0.35);
}
.project-site__lnk:hover {
	background: #2d8dcc;
	background: -moz-linear-gradient(top,  #2d8dcc 0%, #2886c4 100%);
	background: -webkit-linear-gradient(top,  #2d8dcc 0%,#2886c4 100%);
	background: linear-gradient(to bottom,  #2d8dcc 0%,#2886c4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8dcc', endColorstr='#2886c4',GradientType=0 );
	-webkit-box-shadow: inset 0px -4px 0px 0px rgba(27, 126, 183, 1), 0px 2px 3px 0px rgba(7, 80, 127, 0.35);
	-moz-box-shadow:    inset 0px -4px 0px 0px rgba(27, 126, 183, 1), 0px 2px 3px 0px rgba(7, 80, 127, 0.35);
	box-shadow:         inset 0px -4px 0px 0px rgba(27, 126, 183, 1), 0px 2px 3px 0px rgba(7, 80, 127, 0.35);
	text-decoration: none;
	color: #fff;
}
.project-site__lnk:active {
	background: #2886c4;
	background: -moz-linear-gradient(top,  #2886c4 0%, #2d8dcc 100%);
	background: -webkit-linear-gradient(top,  #2886c4 0%,#2d8dcc 100%);
	background: linear-gradient(to bottom,  #2886c4 0%,#2d8dcc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2886c4', endColorstr='#2d8dcc',GradientType=0 );
	-webkit-box-shadow: inset 0px 4px 0px 0px rgba(24, 89, 132, 1);
	-moz-box-shadow:    inset 0px 4px 0px 0px rgba(24, 89, 132, 1);
	box-shadow:         inset 0px 4px 0px 0px rgba(24, 89, 132, 1);
	text-decoration: none;
	color: #fff;
}
.project-site__lnk:visited,
.project-site__lnk:link, {
	text-decoration: none;
	color: #fff;
}
.project-partners {
	padding: 34px 0 0;
	font-size: 1px;
	text-align: center;
	-moz-text-align-last: justify;
	text-align-last: justify;
}
.project-partners__partner {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	margin-bottom: 17px;
}
.project-partners__partner:last-child {
	margin-right: 0;
}
.project-partners__img {}
.project-locations {}
.project-locations__box {
	border: 1px solid #d0d0d0;
	border-bottom: none;
	margin-bottom: 20px;
}
.project-locations__row {
	border-bottom: 1px solid #d0d0d0;
}
.project-locations__label {
	width: 515px;
	padding: 15px 21px;
	box-sizing: border-box;
	color: #2c2f36;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
}
.project-locations__num {
	width: 230px;
	padding: 1px;
	box-sizing: border-box;
	vertical-align: middle;
}
.project-locations__num-box {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 14px 0;
	background-color: #2886c4;
	color: #fff;
	font-size: 14px;
}
.project-locations__num-box:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.project-locations__num-text {
	display: inline-block;
	vertical-align: middle;
	padding-left: 62px;
}
#project-ymap {
	border: 1px solid #d0d0d0;
	width: 100%;
	height: 450px;
	box-sizing: border-box;
}
/*---------------------------------------------------------------------------------*/
/* about */
/*---------------------------------------------------------------------------------*/
#about {}
.about-text2col {}
.about-text2col__column {
	float: left;
	width: 50%;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 20px;
	color: #5d5d5d;
}
.about-text2col__column:last-child {
	padding-right: 0;
	padding-left: 15px;
}
.about-text2col__column:first-child {
	padding-right: 15px;
	padding-left: 0;
}
.about-text2col__column-img {
	float: left;
	margin: 0 20px 20px 0;
}
.about a {
	color: #2886c4;
	text-decoration: underline;
}
.about a:hover {
	text-decoration: none;
}
.about-fullwidth {
	width: 100%;
	height: auto;
	margin-bottom: 35px;
}
.about__subtitle {
	background-color: #ececec;
	padding: 12px 21px 9px;
	color: #2c2f36;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}
.about__roadmap-box {
	width: 660px;
	margin: 40px auto 20px;
	font-size: 1px;
}
.about__roadmap-item {
	display: inline-block;
	width: 320px;
	text-align: center;
	margin-bottom: 20px;
}
.about__roadmap-item:nth-child(2n+1) {
	margin-right: 20px;
}
.about__roadmap-item-title {
	padding: 15px 30px;
	background-color: #2886c4;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
}
.about__roadmap-item-text {
	padding: 30px;
	border: 3px solid #2886c4;
	border-top: none;
	font-size: 14px;
	line-height: 20px;
	color: #5d5d5d;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.04);
}
.folded_top-right:before,
.folded_top-right:after {
	bottom: auto;
	top: 0;
}
.folded_top-right:before {
	border-width: 16px 0 0 16px;
	border-color: transparent transparent transparent rgba(0,0,0,0.2);
}
.folded_top-right:after {
	border-width: 0 16px 16px 0;
	border-color: transparent #ffffff transparent transparent;
}
.about__directions {
	padding-top: 40px;
	font-size: 1px;
}
.about__direction-out {
	display: inline-block;
	margin-bottom: 40px;
}
.about__direction-out:nth-child(2n+1) {
	margin-right: 20px;
}
.about__direction {
	display: table;
	width: 490px;
	height: 100%;
}
.about__direction-img {
	display: table-cell;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
}
.about__direction-icon {
	display: inline;
	color: #fff;
	font-size: 90px;
	text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
	vertical-align: baseline;
}
.about__direction-img.about__direction-img_education {
	background-color: #e4bf3e;
}
.about__direction-img.about__direction-img_planet {
	background-color: #eb6b4d;
}
.about__direction-img.about__direction-img_science {
	background-color: #d2566a;
}
.about__direction-img.about__direction-img_house {
	background-color: #a270b9;
}
.about__direction-img.about__direction-img_brain {
	background-color: #5e83d5;
}
.about__direction-descr {
	display: table-cell;
	vertical-align: top;
	height: 100%;
	padding-left: 20px;
}
.about__direction-title {
	color: #2c2f36;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.about__direction-text {
	color: #5d5d5d;
	font-size: 14px;
	line-height: 20px;
}
.about__eventsprojects {
	padding: 40px 85px 0;
}
.about__direction-btns {
	margin-bottom: 30px;
}
.about__direction-btn {
	float: left;
	margin-right: 20px;
	cursor: pointer;
}
.about__direction-btn:last-child {
	margin-right: 0;
}
.about__direction-icon-text {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.about__direction-btn .about__direction-icon {
	font-size: 59px;
}
.about__direction-eventsprojects {
	background-color: #f3f3f3;
	border: 1px solid #d7d7d7;
	padding: 10px 18px;
	position: relative;
	display: none;
}
.about__direction-eventsprojects:after,
.about__direction-eventsprojects:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.about__direction-eventsprojects:after {
	border-color: rgba(243, 243, 243, 0);
	border-bottom-color: #f3f3f3;
	border-width: 20px;
	margin-left: -20px;
}
.about__direction-eventsprojects:before {
	border-color: rgba(215, 215, 215, 0);
	border-bottom-color: #d7d7d7;
	border-width: 21px;
	margin-left: -21px;
}
.about__direction-eventsprojects_1:after,
.about__direction-eventsprojects_1:before {
	left: 75px;
}
.about__direction-eventsprojects_2:after,
.about__direction-eventsprojects_2:before {
	left: 245px;
}
.about__direction-eventsprojects_3:after,
.about__direction-eventsprojects_3:before {
	left: 415px;
}
.about__direction-eventsprojects_4:after,
.about__direction-eventsprojects_4:before {
	left: 585px;
}
.about__direction-eventsprojects_5:after,
.about__direction-eventsprojects_5:before {
	left: 755px;
}
.about__eventsprojects-lnk {
	display: block;
	text-decoration: underline;
	color: #2886c4;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px dashed #d7d7d7;
	padding: 10px 0;
}
.about__eventsprojects-lnk:last-child {
	border-bottom: none;
}
.about__eventsprojects-lnk:hover {
	text-decoration: none;
	color: #2c2f36;
}
.project-header2_dropdown {
	border-bottom: none;
	margin-bottom: 0;
}
.header-dropdown {
	position: relative;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 20px;
}
.header-dropdown.expand {
	padding-bottom: 45px;
}
.header-dropdown__inner {
	display: none;
}
.header-dropdown.expand .header-dropdown__inner {
	display: block;
}
.header-dropdown__arrow {
	padding: 1px 10px 4px;
	font-size: 17px;
	color: #2c2f36;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	cursor: pointer;
	position: absolute;
	right: 100px;
	bottom: -21px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d0d0d0;
}
.header-dropdown__arrow:hover {
	color: #2886c4;
}
.header-dropdown.expand .header-dropdown__arrow {
	bottom: -1px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #fff;
}
.header-dropdown__arrow.icon-arrow-down {}
.header-dropdown__arrow.icon-arrow-up {}
.project-header2__icon.icon-arrow-right {
	font-size: 16px;
	height: 16px;
	padding-top: 3px;
}
.link2file {
	display: block;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 0 50%;
	color: #2886c4;
	font-size: 14px;
	text-decoration: underline;
	padding-left: 39px;
	margin-bottom: 16px;
}
.link2file:last-child {
	margin-bottom: 0;
}
.link2file:hover {
	text-decoration: none;
}
.link2file_word {
	background-image: url(../img/doc-word.png);
}
.link2file_exel {
	background-image: url(../img/doc-exel.png);
}
.link2file_pdf {
	background-image: url(../img/doc-pdf.png);
}
.header-dropdown__inner_docs {
	padding-top: 8px;
}
.about__initiate {
	padding: 25px 0 28px;
	position: relative;
}
.about__initiate-step {
	float: left;
	width: 235px;
	padding-left: 20px;
}
.about__initiate-step:first-child {
	padding-left: 0;
}
.about__initiate-step-title {
	font-size: 1px;
	margin-bottom: 55px;
}
.about__initiate-step-title-icon {
	width: 48px;
	height: 48px;
	display: inline-block;
	color: #2886c4;
	vertical-align: middle;
	margin-right: 7px;
}
.about__initiate-step-title-icon.icon-lamp {
	font-size: 48px;
}
.about__initiate-step-title-icon.icon-folder {
	font-size: 34px;
}
.about__initiate-step-title-icon.icon-handshake2 {
	font-size: 38px;
}
.about__initiate-step-title-icon.icon-like {
	font-size: 42px;
}
.about__initiate-step-title-text {
	width: 180px;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	color: #2c2f36;
	font-size: 17px;
	font-weight: bold;
	line-height: 24px;
}
.about__initiate-step-descr {
	color: #5d5d5d;
	font-size: 14px;
	line-height: 20px;
}
.about__initiate-stepline {
	padding-left: 14px;
	position: absolute;
	top: 97px;
}
.about__initiate-stepline-point {
	float: left;
	width: 11px;
	height: 11px;
	background-image: url(../img/pontincircle.svg);
	background-repeat: no-repeat;
}
.about__initiate-stepline-points {
	float: left;
	width: 245px;
	height: 3px;
	padding: 4px 0;
	background-image: url(../img/points-initiate.png);
	background-repeat: repeat-x;
	background-position: 0 50%;
}

#pagebody {}
.pagebody a {
	color: #2886c4;
	text-decoration: underline;
}
.pagebody a:hover {
	text-decoration: none;
}
.direction {}
.direction__iconbig {
	float: right;
	margin: 0 0 0 105px;
}
.direction__about {}
.direction__iconbig .about__direction-img {
	width: 235px;
	height: 235px;
}
.direction__iconbig .about__direction-img .about__direction-icon {
	font-size: 130px;
}
.table-fullwith-container {
	position: relative;
	width: 1020px;
	left: -10px;
}
table.direction__tablelabs {
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}
table.direction__tablelabs th {
	background-color: #ececec;
	font-size: 14px;
	font-weight: bold;
	color: #2c2f36;
	text-transform: uppercase;
	text-align: left;
	padding: 10px;
}
table.direction__tablelabs th .direction__tablelabs-icon {
	display: inline-block;
	margin-right: 9px;
	font-size: 16px;
	color: #5e5e5e;
	vertical-align: top;
}
table.direction__tablelabs td {
	padding: 15px 18px;
	color: #2c2f36;
	border: 1px solid #ececec;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(245, 245, 245, 1);
	-moz-box-shadow:    0px 2px 0px 0px rgba(245, 245, 245, 1);
	box-shadow:         0px 2px 0px 0px rgba(245, 245, 245, 1);
	word-wrap: break-word;
	word-break: break-all;
}
table.direction__tablelabs td:nth-child(1) {
	width: 498px;
}
table.direction__tablelabs td:nth-child(2) {
	width: 243px;
}
table.direction__tablelabs td:nth-child(3) {
	width: 233px;
}
table.direction__tablelabs td a {
	color: #246aa6;
	font-size: 14px;
	text-decoration: underline;
}
table.direction__tablelabs td a:hover {
	color: #2c2f36;
	text-decoration: none;
}
.direction__tablelabs-rank {
	color: #828282;
	font-size: 12px;
	line-height: 20px;
	position: relative;
	top: -2px;
}
.direction__experts {}
.direction__experts p {
	color: #5d5d5d;
}
.direction__experts-title-out {
	width: 100%;
	text-align: center;
	padding-top: 12px;
}
.direction__experts-title {
	display: inline-block;
	background-color: #ececec;
	color: #5e5e5e;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
	padding: 0 33px;
}
.direction__experts-list {
	width: 660px;
	margin: 0 auto;
}
.direction__expert {
	border-bottom: 1px dotted #d0d0d0;
	padding: 16px 0 19px;
}
.direction__expert-img {
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 30px;
}
.direction__expert-img img {
	width: 100%;
	height: auto;
}
.direction__expert-text {
	width: 566px;
	float: left;
}
.direction__expert-text1 {
	color: #2c2f36;
	font-size: 16px;
	font-weight: bold;
	padding-top: 11px;
	margin-bottom: 5px;
}
.direction__expert-rank {
	display: inline-block;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	padding: 6px 10px 5px;
	margin-left: 10px;
}
.direction__expert-rank.rank_1 {
	background-color: #2886c4;
}
.direction__expert-rank.rank_2 {
	background-color: #8aabc0;
}
.direction__expert-text2 {
	color: #5e5e5e;
	font-size: 14px;
	font-style: italic;
}
.header-dropdown.expand.header-dropdown_pb20 {
	padding-bottom: 20px;
}
.header-dropdown.expand.header-dropdown_pb30 {
	padding-bottom: 30px;
}
.direction__docs {}
.direction__docs-queue {
	display: inline-block;
	color: #5e5e5e;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ececec;
	padding: 0 15px;
	line-height: 20px;
	margin-bottom: 20px;
}
.direction__docs-title {
	color: #2c2f36;
	font-size: 16px;
	font-weight: bold;
	padding: 27px 0 20px;
}
.link2file-out {
	margin-bottom: 16px;
}
.link2file-out .link2file {
	display: inline-block;
}
.direction__faq {}
.direction__faq-questionnum {
	color: #5e5e5e;
}
.direction__faq-answer {
	padding-top: 16px;
}
.direction__faq-question {
	padding-bottom: 25px;
}
.direction__faq-question:last-child {
	padding-bottom: 0px;
}
.direction__faq-answer1 {
	width: 160px;
	float: left;
	text-align: right;
	padding: 0 10px 0 0;
	color: #2c2f36;
	font-size: 16px;
	font-weight: bold;
}
.direction__faq-answer2 {
	width: 830px;
	float: left;
	color: #5d5d5d;
	font-size: 14px;
	font-style: italic;
}
.direction__support {
	border-top: 1px solid #d0d0d0;
	padding-top: 20px;
}
.about__subtitle_push-down {
	margin-top: 26px;
}
.direction__support-table-out {
	width: 1020px;
}
table.direction__support-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}
table.direction__support-table td {
	padding: 9px;
	color: #2c2f36;
	border: 1px solid #ececec;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(245, 245, 245, 1);
	-moz-box-shadow:    0px 2px 0px 0px rgba(245, 245, 245, 1);
	box-shadow:         0px 2px 0px 0px rgba(245, 245, 245, 1);
}
table.direction__support-table td .counter {
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: #2886c4;
	padding: 0;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 45px;
	margin-right: 17px;
}
.direction__bottom-links {
	text-align: center;
	padding: 25px 0 35px;
}
.direction__bottom-links a {
	display: inline-block;
	margin-bottom: 18px;
}