body {
	margin-bottom: 500px;
}





#project-descr {}
.project-header1 {
	background-color: #2886c4;
	color: #fff;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 19px 0;
	margin-bottom: 20px;
}
.folded {
	position: relative;
}
.folded:before,
.folded:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	bottom: 0;
	right: 0;
}
.folded:before {
	border-width: 16px 16px 0 0;
	border-color: rgba(0,0,0,0.2) transparent transparent transparent;
}
.folded:after {
	border-width: 0 0 16px 16px;
	border-color: transparent transparent #ffffff transparent;
}
.project__details {
	padding-bottom: 6px;
}
.project__details-left {
	float: left;
	width: 405px;
	margin-right: 20px;
}
.project__details-b1 {
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.04);
}
.project__details-b1-header {
	background-color: #3e78b0;
	color: #fff;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	padding: 13px 0;
}
.project__details-b1-header .icon-arrow-diagonally {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #fff;
	margin-right: 15px;
	vertical-align: middle;
}
.project__details-b1-row {
	border-left: 3px solid #3e78b0;
	border-right: 3px solid #3e78b0;
	border-bottom: 3px solid #3e78b0;
	display: table;
}
.project__details-b1-text {
	font-size: 14px;
	line-height: 20px;
	color: #5d5d5d;
	padding: 19px;
	display: table-cell;
}
.project__details-b1-count {
	display: table-cell;
	vertical-align: middle;
	color: #2c2f36;
	font-size: 24px;
	font-weight: bold;
	border-left: 3px solid #3e78b0;
	padding: 0 19px;
}
.project__details-right {
	width: 320px;
	float: left;
}
.project__details-date {
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	margin-bottom: 20px;
}
.project__details-date-inner {
	padding: 17px 24px;
	border: 1px solid #fcfcfc;
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #f4f4f4 100%);
	background: -webkit-linear-gradient(top,  #ededed 0%,#f4f4f4 100%);
	background: linear-gradient(to bottom,  #ededed 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f4f4f4',GradientType=0 );
}
.project__details-date-icon {
	float: left;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #2886c4;
	margin-right: 22px;
	margin-top: 4px;
}
.project__details-date-text {
	float: left;
	line-height: 1;
}
.project__details-date-title {
	color: #5e5e5e;
	font-size: 14px;
	margin-bottom: 6px;
}
.project__details-date-value {
	color: #2c2f36;
	font-size: 17px;
	font-weight: bold;
}
.project__details-status {
	background-color: #4cc87b;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 13px 25px 15px 0;
}
.project__details-status-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: #fff;
	vertical-align: middle;
	position: relative;
	right: 31px;
}
.project__details-status-label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 2px;
}
.project-header2 {
	border-bottom: 1px solid #d0d0d0;
	margin: 38px 0 20px;
	font-size: 1px;
	padding: 0 0 10px 1px;
}
.project-header2__icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #2886c4;
	margin-right: 15px;
	vertical-align: middle;
}
.project-header2__text {
	display: inline-block;
	color: #2c2f36;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
}
.project-targets {
	margin-bottom: -18px;
}
.project-targets__title {
	color: #2c2f36;
	line-height: 20px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
.project-targets__box {
	font-size: 1px;
	padding-top: 8px;
	margin-top: 2px;
}
.project-targets__boxleft {
	float: left;
	width: 350px;
}
.project-targets__boxcenter {
	float: left;
	width: 30px;
	margin: 0 8px 0 7px;
	text-align: center;
}
.project-targets__boxright {
	float: left;
	width: 350px;
}
.project-targets__box-targetsline {
	display: inline-block;
	width: 2px;
	height: 350px;
	background-color: #2886c4;
	position: relative;
}
.project-targets__topcircle {
	display: inline-block;
	color: #2886c4;
	width: 9px;
	height: 9px;
	font-size: 9px;
	position: absolute;
	top: -8px;
	left: -3px;
}
.project-targets__targetcircle {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../img/circle-target.svg);
	background-repeat: no-repeat;
	position: absolute;
	left: -14px;
}
.project-targets__targetcircle.targetcircle_1 {
	top: 52px;
}
.project-targets__targetcircle.targetcircle_2 {
	top: 182px;
}
.project-targets__targetcircle.targetcircle_3 {
	top: 322px;
}
.project-targets__target {
	width: 330px;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.04);
	position: relative;
	margin-bottom: 20px;
}
.project-targets__target-inner {
	padding: 18px 23px;
	border: 1px solid #fcfcfc;
	background: #f6f6f6;
	color: #5d5d5d;
	font-size: 14px;
	line-height: 20px;
}
.project-targets__target:after,
.project-targets__target:before,
.project-targets__target-arrow {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.project-targets__target:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 20px;
	margin-top: -20px;
}
.project-targets__target:before {
	border-color: rgba(215, 215, 215, 0);
	border-left-color: #d7d7d7;
	border-width: 21px;
	margin-top: -21px;
}
.project-targets__target-arrow {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #f6f6f6;
	border-width: 19px;
	margin-top: -19px;
	z-index: 50;
	left: auto;
	right: -37px;
}
.project-targets__target.target_1:after,
.project-targets__target.target_1:before,
.project-targets__target.target_1 .project-targets__target-arrow {
	top: 66px;
}
.project-targets__target.target_2:after,
.project-targets__target.target_2:before,
.project-targets__target.target_2 .project-targets__target-arrow {
	left: auto;
	right: 100%;
	top: 49px;
}
.project-targets__target.target_2 {
	top: 146px;
	margin-left: 18px;
}
.project-targets__target.target_2:after {
	border-left-color: transparent;
	border-right-color: #fff;
}
.project-targets__target.target_2:before {
	border-left-color: transparent;
	border-right-color: #d7d7d7;
}
.project-targets__target.target_2 .project-targets__target-arrow {
	border-left-color: transparent;
	border-right-color: #f6f6f6;
	right: auto;
	left: -37px;
}

.project-targets__target.target_3:after,
.project-targets__target.target_3:before,
.project-targets__target.target_3 .project-targets__target-arrow {
	top: 57px;
}
.project-plan {}
.project-plan__table {
	width: 100%;
}
.project-plan__tbody {}
.project-plan__tr {
	border-bottom: 1px dotted #d0d0d0;
}
.project-plan__tr:first-child,
.project-plan__tr:last-child {
	border-bottom: none;
}
.project-plan__th {
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	text-align: center;
}
.project-plan__th.th_1 {
	color: #2886c4;
}
.project-plan__th.th_2 {
	color: #2072a8;
}
.project-plan__th.th_3 {
	color: #246087;
}
.project-plan__td {
	padding-top: 20px;
	padding-bottom: 14px;
	vertical-align: top;
}
.project-plan__td.td_1 {
	width: 75px;
	text-align: left;
}
.project-plan__td.td_2 {
	width: 415px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
.project-plan__td.td_3 {
	width: 65px;
	text-align: center;
}
.project-plan__td.td_4 {
	width: 65px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.project-plan__td.td_5 {
	width: 65px;
	text-align: center;
}
.project-plan__td_1-wrap {
	height: 40px;
	overflow: hidden;
}
.project-plan__td_1 {
	display: inline-block;
	width: 42px;
	height: 36px;
	border: 2px solid #d0d0d0;
	border-right: none;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 17px;
	line-height: 36px;
	font-weight: bold;
	color: #2c2f36;
	position: relative;
}
.project-plan__td_1:after,
.project-plan__td_1:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.project-plan__td_1:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 18px 0 18px 9px;
	margin-top: -18px;
}
.project-plan__td_1:before {
	border-color: rgba(208, 208, 208, 0);
	border-left-color: #d0d0d0;
	border-width: 21px 0 21px 11px;
	margin-top: -21px;
}
.project-plan__td_2 {
	color: #5d5d5d;
	font-size: 14px;
	line-height: 20px;
}
.project-plan__td_345 {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.project-plan__td_3 {
	background-color: #4fa5dd;
}
.project-plan__td_4 {
	background-color: #2886c4;
}
.project-plan__td_5 {
	background-color: #286f9d;
}







